.logo{
    display: block;
    margin: auto;
    height: 4rem;
    width: 4rem;
}

body{
    background-color: rgb(11, 19, 56);
}

.container{
    background-color: white;
    max-width: 90%;
    margin: auto;
    height: 80vh;
}

.message{
    background-color: rgb(0, 47, 255);
    width: 13%;
    height: 3%;
    padding: 5px;
    margin: 5px;
}